#instructions {
  white-space: pre-line;
}

#notesTable {
  width: 100%;
}

/* Allow user to select text */
#notesTable td {
  user-select: auto;
  -webkit-user-select: auto;
}

#notesTable td:nth-child(1) {
  width: 200px;
  white-space: pre-wrap;
  text-align: left;
  padding: 8px;
}

#notesTable td:nth-child(2) {
  width: auto;
  white-space: pre-line;
  word-wrap: break-word;
  text-align: left;
}

.text-area {
  width: 100%;
  resize: none;
}

.center {
  text-align: center;
}

.table-container {
  overflow: auto;
  max-height: 100%;
  max-width: 100%;
}

.table-container table td {
  border: 1px solid black;
  padding: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.bold-brown {
  font-weight: bold;
  color: #b49566;
}

.red {
  color: #f58e97;
}

.bold-red {
  font-weight: bold;
  color: #f58e97;
}

.light-brown {
  color: #e9c38b;
}

.datetime-cell {
  vertical-align: top;
  color: #d1bfa5;
}