#instructions {
  white-space: pre-line;
}

#notesTable {
  width: 100%;
  border-collapse: collapse;
}

/* Allow user to select text */
#notesTable tbody {
  user-select: text;
  -webkit-user-select: text;
}

#notesTable td:nth-child(1) {
  width: 200px;
  white-space: pre-wrap;
  text-align: left;
  border: 1px solid black;
  padding: 5px;
}

#notesTable td:nth-child(2) {
  width: auto;
  white-space: pre-line;
  word-wrap: break-word;
  text-align: left;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding-right: 5px;
  padding-left: 5px;
}

#notesTable td:nth-child(3) {
  width: 50px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  vertical-align: top;
}

.text-area {
  width: 100%;
  resize: none;
}

.center {
  text-align: center;
}

.table-container {
  overflow: auto;
  max-height: 100%;
  max-width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.bold-brown {
  font-weight: bold;
  color: #b49566;
}

.red {
  color: #f58e97;
}

.bold-red {
  font-weight: bold;
  color: #f58e97;
}

.light-brown {
  color: #e9c38b;
}

.datetime-cell {
  vertical-align: top;
  color: #d1bfa5;
}